/* intro section */
#home {
    margin-top: -2rem;
    position: relative;  
    h4 {
        padding-bottom: 16px;
    }

    .row {
        // text-align: center;
        // justify-content: center;

        > div{
            position: static;
        }
        
    }
    
    p {
        font-family:'Flamenco-Regular';
        font-size: 1.3rem;
    }

    #logo{
        width: 88%;
    }

    
    .flamReg{
        font-size:5rem;
    }

    .tabs {

        .tabs-container {
            // padding-top: 2.75rem;
            // padding-bottom: 0;
    
            .nav-tabs {
                // justify-content: center;
                margin-bottom: 1.125rem;
                border-bottom: none;
                
                .nav-link {
                    margin-right: 1rem;
                    margin-bottom: 0.875rem;
                    padding: 0;
                    border: none;
                    border-radius: 0.25rem;
                    color: #606060;
                    font: 500 1.3rem "Flamenco-Regular", sans-serif;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    cursor: pointer;
                }
                
                .nav-link:hover,
                .nav-link.active {
                    color: #F6A64F;
                }
                
                .nav-link .fas {
                    margin-right: 0.125rem;
                    font-size: 0.875rem;
                    vertical-align: 10%;
                    margin-right: 5px
                }
                
                
                #tab-3 .list-unstyled .fas {
                    color: #F6A64F;
                    font-size: 0.5rem;
                    line-height: 1.375rem;
                }
                
                
            }
    
            .tab-content {
                
                @media (max-width: 992px) { 
                    height: 196px;
                }

                .tab-pane > p {
                    min-height: 140px;
                    font-size: 1rem !important;
                }
            }
    
        }
    }
    
    .area-2{
    
        align-self: center;
    
        #highligths {
            
            .row {
                > div{
                    position: static;
                }
                
                padding-top: 30px;
            }
            
            .icon-info {
                margin-top: 10px;
                margin-bottom: 10px;
                
            }            
            
            hr {
                margin: 20px auto 20px auto;
                width: 100%;
                
            }
            
            
        }
    
    }

    img {
        width: 100%;
        // float: right;
        transform: scaleX(-1);
        position: inherit;
        // bottom: -5rem;
        z-index: -1;
        filter: drop-shadow(42px 30px 20px grey)  saturate(0.85);
        right: -12%;
    }


    // Media Querys

	@media (min-width: 576px) {
        .flamReg{
            font-size:6rem;
        }
	}
	
	@media (min-width: 768px) {
        .flamReg{
            font-size:7rem;
        }
        img {

            // width: 60%;
            // bottom: 1rem;
            // float: right;
            // transform: scaleX(-1);
            // position: absolute;
            // z-index: -1;
        }
	}

	@media (min-width: 992px) {
        .flamReg{
            font-size:8rem;
        }

        img {
            width: 50%;
            top: 32%;
            position: absolute;
            z-index: -1;
            right: -40px;
        }
	}
    
	@media (min-width: 1200px) {
        .flamReg{
            font-size:8rem;
        }

        img {
            width: 50%;
            bottom: -8rem;
        }
	}

    @media (min-width: 1300px) {
        .flamReg{
            font-size:8rem;
        }

        img {
            width: 50%;
            bottom: -9rem;
        }
	}
    
}

