#contact {
	background: #f6f6f6 url('../../assets/images/contact-bg.jpg') 50% 0 repeat-y fixed;
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 80px;
	font-family: "Proxima", sans-serif;
}
#contact h2 {
	color: #ffffff;
}
#contact .form-control {
	border-radius: 4px;
	border: none;
	box-shadow: none;
	margin-top: 12px;
	margin-bottom: 14px;
}
#contact input {
	height: 50px;
}
#contact input[type="submit"] {
	background-color: #eb5424;
	color: #ffffff;
	height: 60px;
	font-weight: bold;
	transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
	background-color: #202020;
}