footer {
	background: #202020;
	color: #ffffff;
	border-bottom: 0px solid #ffffff;
	// padding-top: 60px;

    h2 {
       padding-top: 40px;
       padding-bottom: 20px;
   }
    p {
       line-height: 20px;
	   margin: 0;
	   font-size: 12px;
   }
    .copyright {
        text-align: center;
        
        a {
            color: #FFA823;
        }
    }
}
.social-icon {
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
.social-icon li {
	list-style: none;
	display: inline-block;
	width: 70px;
}
.social-icon li a {
	// background: #f8f8f8;
	border-radius: 100%;
	// color: #FFA823;
	color: #FFFFFF;
	font-size: 32px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	margin: 0 6px 40px 6px;
}
.social-icon li a:hover {
	background: #080808;
}