#contacto {
	background-color: #202020;
	// background: #f6f6f6 url('../../assets/images/contact-bg.jpg') 50% 0 repeat-y fixed;
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 80px;
	font-family: "Proxima", sans-serif;
	h3 {
		color: #ffffff;
		font-family: 'FjallaOne Regular';
		font-size: 36px;
		text-transform: uppercase;
	}
	p {
		font-family: "Flamenco-Regular";
    	font-size: 1rem;
		letter-spacing: 1px;
  		line-height: 28px;
		text-transform: uppercase;
	}
	.form-control {
		border-radius: 4px;
		border: none;
		box-shadow: none;
		margin-top: 12px;
		margin-bottom: 14px;
	}
	input {
		height: 50px;
		font-family: 'Proxima';
	}
	input[type="submit"] {
		background-color: #F6A64F;
		color: #ffffff;
		height: 60px;
		font-weight: bold;
		transition: all 0.4s ease-in-out;
	}
	input[type="submit"]:hover {
		filter: brightness(0.85)
	}
}