/* intro section */
#intro {
	padding-top: 120px;
	padding-bottom: 1rem;
    
    h4 {
        padding-bottom: 16px;
    }

    .row {
        text-align: center;
        justify-content: center;

        > div{
            position: static;
        }
        
    }
    
    p {
        font-family:'Flamenco-Regular';
        font-size: 1.3rem;
    }

    #logo{
        width: 88%;
    }

    
    .flamReg{
        font-family:'Flamenco-Regular';
        font-size:4rem;
    }
}